<% if(threads.length > 0) {  %>
<div class="middle">
<h2 class="family<%= randNum %>"><%= threads[0].title %></h2>
</div>

<p class="subtext">Created by <a href="http://www.mjberube.com">Mark Berube</a> - <a href="<%= threads[0].url %>">posted by <%= threads[0].author %></a> of <a href="https://www.reddit.com/r/nocontext/">/r/nocontext</a></p>

<% } %>